---
permalink: /
meta_title: "Works - Pietro Vitali"
meta_description: "A collection of my latest academic and professinal projects"
---
<section class="w3-threequarter w3-row">
    <article style="margin-top: 0">
        <h1 style="display: inline;">WORKS </h1>
        <h4 style="display: inline;">2019-2022</h4>
    </article>
    {% for work in site.works %}
    {% cycle "open": "<div class='w3-third'>", "", "", "" %}
        <article>
            <span class="lilborder" style="display: flex">
                <a aria-label="open full {{ work.title }}" href="{{site.baseurl}}{{ work.url }}">
                    <h4>{{ work.title |
                        upcase }}</h4>
                </a>
                <i style="margin-left: auto;margin-right: 0; align-self: end; line-height: initial;"
                    onclick="toggleImg(this)" class="material-icons showimg hoverable"
                    aria-label="show preview of {{ work.title_short }}">add</i>
            </span>
            <img class="work w3-hide" src="{{work.img_thumbnail}}" alt="Flowers in Chania">
            <p>
                {{ work.short_desc }} <a class="small-screen-only"
                    style="font-style: italic; text-decoration: underline; opacity: 0.6;"
                    href="{{ work.url }}">details</a>
            </p>
        </article>
        {% if forloop.last == true %}
    </div>
    {% else %}
    {% cycle "close": "", "", "", "</div>" %}
    {% endif %}
    {% endfor %}
</section>