---
permalink: /
---
<section class="w3-threequarter w3-row">
    <h1 class="title">WORKS</h1>
    <article><h3>2017-2020</h3></article>
    {% for work in site.works %}
        {% cycle "open": "<div class='w3-third'>", "", "" %}
        <article class="lilborder">
            <p><a aria-label="open full {{ work.title }}" href="{{site.baseurl}}{{ work.url }}">
                <span style="font-style: italic">{{ work.title | upcase }}</br></span>
                {{ work.short_desc }}</a>
                <i onclick="toggleImg(this)" class="material-icons showimg hoverable" aria-label="show preview of {{ work.title }}">add</i>
            </p>
            <img class="work w3-hide" src="{{site.baseurl}}{{site.imgurl}}{{work.imgdir}}{{work.img_thumbnail}}" alt="Flowers in Chania">
        </article>
        {% if forloop.last == true %}
        </div>
        {% else %}
            {% cycle "close": "", "", "</div>" %}
        {% endif %}
    {% endfor %}
</section>