<header>
  <div id="topbar" class="topbar">
    <div id="pv" class="std pv">
      <a href="{{ site.baseurl }}/" class="title" aria-label="Pietro Vitali's works"><h1>Pietro Vitali</h1></a>
      <i class="material-icons searchicon">search</i>
    </div>
    <button class="hamburger--slider w3-bar-item w3-right hamburger ham" type="button" onclick="toggleHamburger(this)">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
    </button>
  </div>
</header>
<div>
  <div id="topbarwhite" class="topbarwhite"></div>
  <div id="topbarborder" class="topbarborder"></div>
  <div style="display: block; width: 100%; height: inherit; background-color: white"></div>
</div>