---
---

<head>
  <meta charset="utf-8">
  <meta name="author" content="Andrea Vitali">
  <meta name="google-site-verification" content="GPlBWq-HLDb1h_l4MaxDs89QtPkjQ5-jav7kXezt8oA">
  <meta name="subject" content="Pietro Vitali 'sPortfolio">
  <title>{{ page.meta_title }}</title>
  <meta name="description" content="{{ page.meta_desc }}">
  <meta name="robots" content="index, follow">
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="{{site.baseurl}}/assets/favicon.ico" type="image/x-icon">
  <link rel="manifest" href="{{site.baseurl}}/assets/site.webmanifest">
  <link rel="apple-touch-icon" href="{{site.baseurl}}/assets/icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/w3.css">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/hamburgers.css">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/normalize.css">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="theme-color" content="white">
  <style>
    html {
      visibility: hidden;
    }
  </style>
</head>