    <script src="{{site.baseurl}}/assets/js/vendor/modernizr-3.8.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="{{site.baseurl}}/assets/js/vendor/jquery-3.4.1.min.js"%3E%3C/script%3E'))</script>
    <script src="{{site.baseurl}}/assets/js/plugins.js"></script>
    <script src="{{site.baseurl}}/assets/js/main.js"></script>
    <script>
      adjustTopbarHeight()
    </script>